.dx-editor-outlined.dx-texteditor-with-floating-label.dx-dropdowneditor-active.dx-state-focused
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-dropdowneditor-active.dx-state-focused
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-dropdowneditor-active.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-dropdowneditor-active.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-state-focused
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-state-focused
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-textarea.dx-state-focused
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-textarea.dx-state-focused
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-textarea.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-textarea.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-label.dx-dropdowneditor-active.dx-state-focused
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-label.dx-dropdowneditor-active.dx-state-focused
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-label.dx-dropdowneditor-active.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-label.dx-dropdowneditor-active.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-label.dx-state-focused
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-label.dx-state-focused
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-label.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-label.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-label.dx-textarea.dx-state-focused
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-label.dx-textarea.dx-state-focused
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-label.dx-textarea.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-label.dx-textarea.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label-before {
    border-color: var(--app-color-primary);
    border-top: 1px solid var(--app-color-primary);
    border-bottom: 1px solid var(--app-color-primary);
}
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-dropdowneditor-active.dx-state-focused
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-dropdowneditor-active.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-state-focused
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-textarea.dx-state-focused
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-textarea.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-label.dx-dropdowneditor-active.dx-state-focused
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-label.dx-dropdowneditor-active.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-label.dx-state-focused
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-label.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-label.dx-textarea.dx-state-focused
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-label.dx-textarea.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label {
    border-bottom: 1px solid var(--app-color-primary);
}
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-lookup-empty.dx-state-hover
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-lookup-empty.dx-state-hover
    .dx-texteditor-label
    .dx-label-before,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-texteditor-empty.dx-state-hover
    .dx-texteditor-label
    .dx-label-after,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-texteditor-empty.dx-state-hover
    .dx-texteditor-label
    .dx-label-before {
    border-color: var(--app-color-primary);
    border-top: 1px solid var(--app-color-primary);
    border-bottom: 1px solid var(--app-color-primary);
}
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-lookup-empty.dx-state-hover
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-texteditor-empty.dx-state-hover
    .dx-texteditor-label
    .dx-label {
    border-bottom: 1px solid var(--app-color-primary);
    border-top: 1px solid var(--app-color-primary);
}
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-lookup-empty.dx-state-hover.dx-state-focused
    .dx-texteditor-label
    .dx-label,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-texteditor-empty.dx-state-hover.dx-state-focused
    .dx-texteditor-label
    .dx-label {
    border-top: none;
}
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-dropdowneditor-active.dx-state-focused
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-dropdowneditor-active.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-state-focused
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-textarea.dx-state-focused
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-floating-label.dx-textarea.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-label.dx-dropdowneditor-active.dx-state-focused
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-label.dx-dropdowneditor-active.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-label.dx-state-focused
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-label.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-label.dx-textarea.dx-state-focused
    .dx-texteditor-label
    .dx-label
    span,
.dx-editor-outlined.dx-texteditor-with-label.dx-textarea.dx-state-focused.dx-state-hover
    .dx-texteditor-label
    .dx-label
    span {
    color: var(--app-color-primary);
}
