.row {
    display: flex;
    align-items: center;
}

.col {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-2-48 {
    width: 48%;
}

.col-3 {
    width: 33.33333%;
}

.col-4 {
    width: 25%;
}
