:root {
    --color-blaze-orange: #ff6000;
    --color-blaze-orange2: #ff7004;
    --color-black: #000000;
    --color-tundora: #474747;
    --color-white: #ffffff;
    --color-gallery: #ebebeb;
    --color-athens-gray: #f4f5f8;
    --color-concrete: #f3f3f3;
    --color-emperor: #555555;
    --color-mine-shaft: #212121;
    --color-punch: #dc3545;
    --color-dusty-gray: #999999;
    --color-silver: #bebebe;
    --color-tuna: #2f333a;
    --color-wild-sand: #f5f5f5;
    --color-admin-background: #F9FAFB;
    --color-admin-primary: #17a562;
    --color-admin-hover: #d0defc;
}